@model EndlessJourney.Web.ViewModels.Bookings.BookingInputModel
@{
    ViewData["Title"] = "Book a trip";
}

<form method="post" id="bookForm" class="col-md-6 offset-md-3">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="form-group">
        <label asp-for="Adult">Adults</label>
        <input asp-for="Adult" class="form-control" />
        <span asp-validation-for="Adult" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Children">Childrens</label>
        <input asp-for="Children" class="form-control" />
        <span asp-validation-for="Children" class="text-danger"></span>
    </div>
    @*<input type="hidden" asp-for="TripId" />*@
    <hr />
    <div>
        Total cost: $
    </div>
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalBook">Book now</button>
</form>

@*TODO fix *@
<!-- Modal -->
<div class="modal" id="modalBook" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you want to book this trip?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="bookForm.submit()">Confirm</button>
            </div>
        </div>
    </div>
</div>