@page
@model EndlessJourney.Web.Pages.ContactFormModel
@{
    ViewData["Title"] = "Contact Form";
}

@if (Model.InfoMessage != null)
{
    <div class="alert alert-info">
        @Model.InfoMessage
    </div>
}

<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Us</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.
    </p>

    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5 d-inline-block">
            <form id="contact-form" name="contact-form" method="post">
                @*<div asp-validation-summary="All"></div>*@
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input asp-for="Name" type="text" class="form-control" />
                            <label asp-for="Name">Your name</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input asp-for="Email" type="text" class="form-control" />
                            <label asp-for="Email">Your email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input asp-for="Subject" type="text" class="form-control" />
                            <label asp-for="Subject">Subject</label>
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea asp-for="Message" type="text" rows="2" class="form-control"></textarea>
                            <label asp-for="Message">Your message</label>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left">
                    @*<a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>*@
                    <button type="submit" class="btn btn-primary" style="margin-top:3%">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-3 text-center d-inline-block">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Plovdiv, Plovdiv 4000, Bulgaria</p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 359 88 888 8888</p>
                </li>

                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@mdbootstrap.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>
