@model EndlessJourney.Web.ViewModels.Trips.CreateTripInputModel
@{ this.ViewData["Title"] = "Add new trip";
    var ships = this.Model.Ships.Select(x => new SelectListItem(x.Value, x.Key));
    var destinations = this.Model.Destinations.Select(x => new SelectListItem(x.Value, x.Key));
}

<form method="post" class="col-md-6 offset-md-3"
      enctype="multipart/form-data">
    <h1>@this.ViewData["Title"]</h1>
    <div class="form-group">
        <label asp-for="StartDate">Start Date</label>
        <input asp-for="StartDate" value="@DateTime.Now.ToString("o")" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate">End Date</label>
        <input asp-for="EndDate" value="@DateTime.Now.ToString("o")" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Discount"></label>
        <input asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipId">Ship</label>
        @*<vc:ShipsDropDown name="ShipId"></vc:ShipsDropDown>*@
        <select asp-for="ShipId" class="form-control" asp-items="ships"></select>
        <span asp-validation-for="ShipId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DestinationId">Destination</label>
        @*<vc:DestinationsDropDown name="DestinationId"></vc:DestinationsDropDown>*@
        <select asp-for="DestinationId" class="form-control" asp-items="destinations"></select>
        <span asp-validation-for="DestinationId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Images">Upload Images</label>
        <input asp-for="Images" class="form-control" />
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>
