@model EndlessJourney.Web.ViewModels.Trips.EditTripInputModel
@{ ViewData["Title"] = "Edit trip";
    var ships = this.Model.Ships.Select(x => new SelectListItem(x.Value, x.Key));
    var destinations = this.Model.Destinations.Select(x => new SelectListItem(x.Value, x.Key)); 
 }

<form method="post" id="editForm" class="col-md-6 offset-md-3">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="form-group">
        <label asp-for="StartDate">Start Date</label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EndDate">End Date</label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Discount"></label>
        <input asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipId">Ship</label>
        <select asp-for="ShipId" class="form-control" asp-items="ships"></select>
        <span asp-validation-for="ShipId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DestinationId">Destination</label>
        <select asp-for="DestinationId" class="form-control" asp-items="destinations"></select>
        <span asp-validation-for="DestinationId" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <hr />
    <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Save changes</button>
</form>

<!-- Modal -->
<div class="modal" id="modalEdit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you confirm this changes?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>
