@model EndlessJourney.Web.ViewModels.Ships.ShipsListViewModel
@{
    this.ViewData["Title"] = "All ships";
}

<h2>See our @Model.Count amazing ships</h2>
<hr />

<div>
    @foreach (var ship in this.Model.Ships)
    {
        <div class="card text-center" style="margin-bottom:3%;margin-right:10%;margin-left:10%">
            <div class="card-body">
                <a asp-controller="Ships" asp-action="ById" asp-route-id="@ship.Id" class="card-title btn btn-outline-info">@ship.Name</a>
                <p class="card-text" style="margin-right:5%;margin-left:5%">@ship.Description</p>
            </div>
            <img src=@ship.ImagePathName class="card-img-bottom rounded img-fluid" style="max-width:auto;" alt=@ship.Name>
        </div>
    }
</div>
